<div *ngIf="view==1" class="form-group">
  <label class="custom-label form-label">ATM
    <span style="color: red;" [hidden]="disabled" *ngIf="iscompulsory==true">*</span>
  </label>
  <div class="row">
    <div class="col-md-10">
      <ng-select [(ngModel)]="atmID" [disabled]="disabled" name="atmID">
        <ng-option *ngFor="let atm of atms" [value]="atm.atm_ID" [disabled]="disabled">
          {{ atm.ATM_DESCRIPTION }}
        </ng-option>
      </ng-select>
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-light ml-2" [hidden]="disabled" (click)="atmGet()">
        <i class="fa fa-refresh" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="view==2" class="form-group">
  <div class="row">
    <div class="col-lg-12">
      <div class="outer-div">
        <div class="grid-wrapper">
          <dx-data-grid #grid id="gridContainer" [dataSource]="atmsAll" keyExpr="atm_ID" [showColumnLines]="true"
            [showRowLines]="true" [showBorders]="true" [rowAlternationEnabled]="true" [allowColumnResizing]="true"
            [columnMinWidth]="30" [columnAutoWidth]="true" [remoteOperations]="true" height="600" width="100%"
            (onToolbarPreparing)="onToolbarPreparing($event)">
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-header-filter [visible]="true"></dxo-header-filter>
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxo-group-panel [visible]="false"></dxo-group-panel>
            <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
            <dxo-scrolling mode="virtual"></dxo-scrolling>
            <dxo-sorting mode="multiple"></dxo-sorting>
            <dxo-selection mode="single"></dxo-selection>
            <dxi-column [width]="75" [allowFiltering]="false" [allowSorting]="false" alignment="center"
              cellTemplate="cellTemplate"> </dxi-column>

            <dxi-column dataField="ATM_ID" caption="ATM_ID" cssClass="myClass" alignment="center"></dxi-column>
            <dxi-column dataField="ATM_DESCRIPTION" caption="ATM_Description" cssClass="myClass"
              alignment="center"></dxi-column>
            <dxi-column dataField="isactive" caption="Active" cssClass="myClass" alignment="center"></dxi-column>

            <div *dxTemplate="let data of 'cellTemplate'">
              <a href="javascript:void" class="" (click)="update(data)">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            </div>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="view==3" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && atmAdd(atm)" #f="ngForm" novalidate>
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <i class="fa fa-plus" aria-hidden="true"></i> Add New ATM
          </h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true"> ×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label"> ATM_Description </label>
                <textarea rows="3" type="textarea" class="form-control" name="ATM_DESCRIPTION" length="500"
                  [(ngModel)]="atm.ATM_DESCRIPTION"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            <i class="fa fa-plus" aria-hidden="true"></i> Add
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div *ngIf="view==4" class="form-group">
  <form action="" class="form" (ngSubmit)="f.form.valid && atmUpdate(atm)" #f="ngForm" novalidate>
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit ATM
          </h5>
          <button aria-label="Close" class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true"> ×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label"> ATM_Description</label>
                <textarea rows="3" type="textarea" class="form-control" name="ATM_DESCRIPTION" maxlength="500"
                  [(ngModel)]="atm.ATM_DESCRIPTION"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="checkbox">
                  <label class="control-label">
                    <input type="checkbox" [checked]="atm.isactive" [(ngModel)]="atm.isactive" name="isactive">
                    Active
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
            <i class="fa fa-plus" aria-hidden="true"></i> Update
          </button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>
